*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    height: 5000px;
}
.contanir{
    width: 90%;
    height: 100vh;
    margin: auto;
    background-color:cornflowerblue;
    border: 5px solid #ac9f9f4d;
    border-radius: 11px;
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    width: 95%;
    margin: auto;
    word-spacing: 8px;
    padding-top: 10px;
    position: sticky;
    top: 0;
}

.logo a{
    text-decoration: none;
    color:black;
}

.logo a:hover{
    color: red;
    transition: 0.3s;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}

.nav-bar a:hover{
    color: red;
    transition: 0.6s;
    
}

a.Contact {
    background-color: black;
    color: white;
    padding: 6px 5px;
    border-radius: 14px;
    font-size: 20px;
}

.Contact:hover {
    color: red;
}

.Home{
    width: 95%;
    margin: auto;
}

.text{
    margin-top: 115px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.text p span{
    color: red;
    font-size: 30px;
}

form a{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.4s;
}

form a:hover{
    color: red;
    width: 10%;
}
